variant: flatcar
version: 1.0.0

storage:
  files:
    # free up port 53
    - path: /etc/systemd/resolved.conf
      mode: 0644
      overwrite: true
      contents:
        inline: |
          [Resolve]
          DNSStubListener=no

    - path: /opt/bin/docker-compose
      contents:
        source: https://github.com/docker/compose/releases/download/v2.32.4/docker-compose-linux-x86_64
        verification:
          hash: sha512-02B180B5CB4633B713BA79F92BE234BF03C208EF7BD2C34BD6DA09FC70DAFFE8A2D245B080D395395DC1275FB05152327AC2780E58FB7E89E4B09CE07FA07E3A
      mode: 0755

    - path: /home/core/dns/Corefile
      contents:
        inline: |
          . {
              # Cloudflare and Google
              forward . 1.1.1.1 1.0.0.1 8.8.8.8 8.8.4.4
              cache
          }

          locali {
              template IN A  {
                  answer "{{ .Name }} 0 IN A 127.0.0.1"
              }
          }
      mode: 0644
      user:
        name: core
      group:
        name: core

    - path: /home/core/docker-compose.yml
      contents:
        inline: |
          services:
            web:
              image: nginx
              ports:
                - 80:80
            coredns:
              image: coredns/coredns
              volumes:
                - /home/core/dns/:/coredns-config/
              command: -conf coredns-config/Corefile
              ports:
                - "53:53/udp"
                - "53:53/tcp"
      mode: 0644
      user:
        name: core
      group:
        name: core

systemd:
  units:
    - name: application.service
      enabled: true
      contents: |
        [Unit]
        Description=Minimalist docker-compose example
        [Service]
        ExecStart=/opt/bin/docker-compose -f /home/core/docker-compose.yml up
        [Install]
        WantedBy=multi-user.target

passwd:
  users:
    - name: core
      ssh_authorized_keys: ${ssh_keys}
